/MedicalCenter.Solution/.vs/MedicalCenter.Solution/DesignTimeBuild/.dtbcache.v2
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/0c31444c-bf49-463f-aae8-9b5023df2dbb.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/6d8191b4-ec82-4a86-ae4c-aa5270d2edb5.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/8f9d9a0a-de33-46c5-8e0e-05bc56e094a1.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/a4069965-195a-44f2-83a9-b4925a9b49b7.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/e9402a6d-dbd7-4c19-9e5a-2b2eea5d3f93.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/v17/.futdcache.v2
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/v17/.suo
/MedicalCenter.Solution/.vs/ProjectEvaluation/medicalcenter.solution.metadata.v7.bin
/MedicalCenter.Solution/.vs/ProjectEvaluation/medicalcenter.solution.projects.v7.bin
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.AssemblyInfo.cs
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.AssemblyInfoInputs.cache
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.assets.cache
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.csproj.AssemblyReference.cache
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.GeneratedMSBuildEditorConfig.editorconfig
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.GlobalUsings.g.cs
/MedicalCenter.Solution/MedicalCenter.Core/obj/MedicalCenter.Core.csproj.nuget.dgspec.json
/MedicalCenter.Solution/MedicalCenter.Core/obj/MedicalCenter.Core.csproj.nuget.g.props
/MedicalCenter.Solution/MedicalCenter.Core/obj/MedicalCenter.Core.csproj.nuget.g.targets
/MedicalCenter.Solution/MedicalCenter.Core/obj/project.assets.json
/MedicalCenter.Solution/MedicalCenter.Core/obj/project.nuget.cache
