/MedicalCenter.Solution/.vs/MedicalCenter.Solution/DesignTimeBuild/.dtbcache.v2
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/0c31444c-bf49-463f-aae8-9b5023df2dbb.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/6d8191b4-ec82-4a86-ae4c-aa5270d2edb5.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/8f9d9a0a-de33-46c5-8e0e-05bc56e094a1.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/a4069965-195a-44f2-83a9-b4925a9b49b7.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/e9402a6d-dbd7-4c19-9e5a-2b2eea5d3f93.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/v17/.futdcache.v2
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/v17/.suo
/MedicalCenter.Solution/.vs/ProjectEvaluation/medicalcenter.solution.metadata.v7.bin
/MedicalCenter.Solution/.vs/ProjectEvaluation/medicalcenter.solution.projects.v7.bin
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.AssemblyInfo.cs
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.AssemblyInfoInputs.cache
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.assets.cache
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.csproj.AssemblyReference.cache
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.GeneratedMSBuildEditorConfig.editorconfig
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.GlobalUsings.g.cs
/MedicalCenter.Solution/MedicalCenter.Core/obj/MedicalCenter.Core.csproj.nuget.dgspec.json
/MedicalCenter.Solution/MedicalCenter.Core/obj/MedicalCenter.Core.csproj.nuget.g.props
/MedicalCenter.Solution/MedicalCenter.Core/obj/MedicalCenter.Core.csproj.nuget.g.targets
/MedicalCenter.Solution/MedicalCenter.Core/obj/project.assets.json
/MedicalCenter.Solution/MedicalCenter.Core/obj/project.nuget.cache
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/012a3f1c-a20f-4686-a132-2beeba60797e.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/37c81c94-9d8c-4c6b-8533-17a14e4020dd.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/8ee2c6a4-7c22-48db-a451-3d0fa1d4460e.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/aeee3e3f-7c37-4564-8b0a-2c499b490e53.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/cf315850-07d2-4b67-94b8-23be81c36df7.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/29d8bd9e-65fc-428b-8905-ee2226b9f8d4.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/dba26036-acb6-432e-885a-8219a4f1eff5.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/eac4098f-434a-4014-895f-6fe2a372b25e.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/f3e67a90-0272-4030-8e9f-f861116240db.vsidx
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.AssemblyInfo.cs
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.AssemblyInfoInputs.cache
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.assets.cache
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.csproj.AssemblyReference.cache
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.GeneratedMSBuildEditorConfig.editorconfig
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.GlobalUsings.g.cs
/MedicalCenter.Solution/MedicalCenter.API/obj/MedicalCenter.API.csproj.nuget.dgspec.json
/MedicalCenter.Solution/MedicalCenter.API/obj/MedicalCenter.API.csproj.nuget.g.props
/MedicalCenter.Solution/MedicalCenter.API/obj/MedicalCenter.API.csproj.nuget.g.targets
/MedicalCenter.Solution/MedicalCenter.API/obj/project.assets.json
/MedicalCenter.Solution/MedicalCenter.API/obj/project.nuget.cache
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/4bde7872-7560-4ed3-861b-e6060db30ef4.vsidx
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/56bd0819-fc38-4afb-a349-fcc2d58442c2.vsidx
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/appsettings.Development.json
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/appsettings.json
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Azure.Core.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Azure.Identity.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Humanizer.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/MedicalCenter.API.deps.json
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/MedicalCenter.API.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/MedicalCenter.API.exe
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/MedicalCenter.API.pdb
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/MedicalCenter.API.runtimeconfig.json
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/MedicalCenter.Core.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/MedicalCenter.Core.pdb
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.Identity.Client.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.OpenApi.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Mono.TextTemplating.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/System.CodeDom.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/System.Drawing.Common.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/System.Memory.Data.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/System.Runtime.Caching.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/System.Security.Permissions.dll
/MedicalCenter.Solution/MedicalCenter.API/bin/Debug/net7.0/System.Windows.Extensions.dll
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/apphost.exe
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.csproj.CopyComplete
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.csproj.CoreCompileInputs.cache
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.csproj.FileListAbsolute.txt
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.dll
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.genruntimeconfig.cache
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.MvcApplicationPartsAssemblyInfo.cache
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.pdb
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/MedicalCenter.API.sourcelink.json
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/ref/MedicalCenter.API.dll
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/refint/MedicalCenter.API.dll
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/staticwebassets.build.json
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/staticwebassets/msbuild.build.MedicalCenter.API.props
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.MedicalCenter.API.props
/MedicalCenter.Solution/MedicalCenter.API/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.MedicalCenter.API.props
/MedicalCenter.Solution/MedicalCenter.Core/bin/Debug/net7.0/MedicalCenter.Core.deps.json
/MedicalCenter.Solution/MedicalCenter.Core/bin/Debug/net7.0/MedicalCenter.Core.dll
/MedicalCenter.Solution/MedicalCenter.Core/bin/Debug/net7.0/MedicalCenter.Core.pdb
/MedicalCenter.Solution/MedicalCenter.Core/bin/Debug/net7.0/MedicalCenter.Core.runtimeconfig.json
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.csproj.CoreCompileInputs.cache
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.csproj.FileListAbsolute.txt
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.dll
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.genruntimeconfig.cache
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.pdb
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/MedicalCenter.Core.sourcelink.json
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/ref/MedicalCenter.Core.dll
/MedicalCenter.Solution/MedicalCenter.Core/obj/Debug/net7.0/refint/MedicalCenter.Core.dll
/MedicalCenter.Solution/.vs/MedicalCenter.Solution/FileContentIndex/f7c6109e-969f-4c05-abcf-8842daa8dd71.vsidx
